* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f7fb;
  height: 100vh;
}

body, input, button, textarea {
  font-family: 'Poppins', sans-serif;
}

input, button, textarea, button {
  outline: none;
}

.Female {
  color: #ff0836 !important;
  background: #ffbbbb !important;
}.Female span {
  color: #ff0836 !important;
}

.Male {
  color: #0867ff !important;
  background: #bbcbff !important;
}.Male span {
  color: #0867ff !important;
}