* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f7fb;
  height: 100vh;
}

body, input, button, textarea {
  font-family: 'Poppins', sans-serif;
}

input, button, textarea, button {
  outline: none;
}

.Female, .women{
  color: #ff0836 !important;
  background: #ffbbbb !important;
  text-transform:  capitalize;
}.Female  span, .women span {
  color: #ff0836 !important;
}

.Male, .men {
  color: #0867ff !important;
  background: #bbcbff !important;
  text-transform:  capitalize;
}.Male span, .men span {
  color: #0867ff !important;
}